@media screen and (max-width: 1300px) {

    header {
        padding-left: 30px;
        padding-right: 30px;
    }

}


@media screen and (max-width: 1150px) {

    h1 {
        font-size: 36px;
    }

    h1>span {
        font-size: 36px;
    }

    h2 {
        font-size: 30px;
    }

    h2>span {
        font-size: 30px;
    }

    h3 {
        font-size: 22px;
    }

    p {
        font-size: 14px;
    }

    .section_headline_content>img {
        width: 60px;
        height: 60px;
    }

    .section_headline_background {
        height: 60px;
    }

    .menu_section {
        width: calc(100% - 300px);
    }

    .menu_image {
        width: 160px;
        height: 96px;
    }

    .menu_box {
        width: 550px;
        align-items: center;
    }

    .basket_section {
        width: 300px;
    }

    .basket_container {
        top: 15px;
        width: 300px;
    }

    .basket_content {
        width: 260px;
        padding-top: 20px;
    }

    .basket_menu_box {
        width: 260px;
    }

    .basket_menu_box h3 {
        font-size: 22px;
    }

    .prices {
        width: 260px;
    }

    .buy_button {
        font-size: 26px;
        width: 260px;
    }

}

@media screen and (max-width: 900px) {

    h3 {
        font-size: 20px;
    }

    .menu_section {
        width: calc(100% - 250px);
    }

    .menu_image {
        width: 140px;
        height: 84px;
    }

    .menu_box {
        width: 480px;
    }

    .basket_section {
        width: 250px;
    }

    .basket_container {
        width: 250px;
    }


    .basket_content {
        width: 230px;
    }

    .basket_menu_box {
        width: 230px;
    }

    .basket_menu_box h3 {
        font-size: 22px;
    }

    .prices {
        width: 230px;
    }

    .buy_button {
        font-size: 22px;
        width: 230px;
    }

}

@media screen and (max-width: 768px) {

    .basket_section {
        display: none;
    }

    .headline_content>h3 {
        text-align: center;
    }

    h3 {
        font-size: 20px;
    }

    .menu_section {
        width: 100%;
    }

    .menu_image {
        width: 140px;
        height: 84px;
    }

    .menu_box {
        width: 450px;
    }

}

@media screen and (max-width: 480px) {

    header {
        height: 80px;
    }

    .landing_section {
        height: 700px;
    }

    .hero {
        height: 350px;
        top: 80px;
    }

    .burger_button {
        display: none;
    }

    .burger_house_logo {
        padding-top: 200px;
    }

    .burger_house_logo>img {
        width: 120px;
        height: 120px;
    }

    .headline {
        flex-direction: column-reverse;
        gap: 0;
    }

    .headline>img {
        width: 110px;
        height: 30px;
    }

    h2>span {
        display: none;
    }

    .section_headline_content {
        flex-direction: column;
        padding: 0;
        gap: 0;
    }

    .section_headline {
        align-items: flex-end;
        justify-content: center;
        padding-bottom: 30px;
    }

    .section_headline_content>h2 {
        line-height: 1.2;
        padding-bottom: 10px;
    }

    .menu_box {
        flex-direction: column;
        width: 310px;
        padding: 10px;
    }

    .menu_content {
        flex-direction: column;

    }

    .menu_image {
        width: 290px;
        height: 80px;
        object-fit: cover;
        overflow: hidden;
        border-radius: 12px;
    }

    .right_content {
        flex-direction: row;
    }

    .footer_container {
        flex-direction: column;
        align-items: center;
        padding-top: 0;
        justify-content: center;
        height: 130px;
        width: 100%;
    }

    footer {
        flex-direction: column;
        height: 210px;
    }

    .nav_bar {
        display: flex;
    }

}